.devBlog {
    max-width: 1200px;
    padding-top: 100px;
    margin: 0 auto;
    gap: 100px;
}
.blogPostDate {
    color: var(--purple1);
    width: 100%;
    display: flex;
    gap: 20px;
}
.blogPostDate::before, .blogPostDate::after {
    content: "";
    flex-grow: 1;
    height: 6px;
    background-color: var(--purple1);
    transform: translateY(100%);
    border-radius: 3px;
}
.blogPost {
    width: 100%;
    display: flex;
    gap: 40px;
}
.blogPost:nth-of-type(2n) {
    flex-direction: row-reverse;
}
.blogPostImage {
    flex-basis: 40%;
}
.blogPostBody {
    flex-basis: 60%;
    text-align: left;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px) {
    .devBlog {
        gap: 50px;
    }
}