.parallax_container {
    height: 150vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    perspective: 0;
}
.parallax_layer {
    flex-grow: 1;
    position: absolute;
    inset: 0;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax_layer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}