.parallax_container {
    overflow: hidden;
    aspect-ratio: 1321/793;
    width: 100%;
    position: relative;
    top: 80px;
}
.parallax_layer {
    position: absolute;
    inset: 0;
}
.parallax_layer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}