@font-face {
  font-family: "Neuropol";
  src: url(/fonts/neuropol.otf) format("opentype");
}

@font-face {
  font-family: "OCRA Std";
  src: url(/fonts/OCRAStd.otf) format("opentype");
}

:root {
  --white: #ffffff;
  --pink: #EC008C;
  --purple1: #6e3c89;
  --purple2: #3c0e27;
  --black: #05060a;
  --grey1: #2c4550;
  --grey2: #49445b;
  --blue1: #629ecd;
  --blue2: #6481ab;
  --blue3: #1c3858;
  --input-ease: cubic-bezier(.65,.05,.36,1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "OCRA Std", "sans-serif";
  color: var(--white);
  background-color: var(--purple2);
  background: linear-gradient(180deg, var(--purple1) 100vh, var(--purple2) 200vh);
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all .2s ease-in-out;
}
.hover-underline:hover::after {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 60px;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: "Neuropol", "sans-serif";
}

h2 {
  font-size: 48px;
  color: var(--pink);
}
h3 {
  font-size: 40px;
  color: var(--blue1);
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 20px;
  color: var(--blue1);
  font-family: "OCRA Std", "sans-serif";
}

ul {
  list-style: none;
}